<app-header [title]="'Contact Details'" [isLoggedIn]="true"></app-header>

<ion-content class="contact-page" fullscreen>
  <div class="container" *ngIf="contact">
    <app-img-load [user]="contact.user"></app-img-load>

    <section class="contact-card">
      <p class="nickname" *ngIf="contact.nickname">({{ contact.nickname }})</p>
      <h1 class="name">{{ contact.user.name }} {{ contact.user.lastname }}</h1>

      <div class="contact-info">
        <ion-icon name="call" class="icon"></ion-icon>
        <span>{{ contact.user.phone }}</span>
      </div>

      <div class="contact-info" *ngIf="contact.user.email">
        <ion-icon name="mail" class="icon"></ion-icon>
        <span>{{ contact.user.email }}</span>
      </div>
    </section>

    <app-actions-buttons
      (clicked)="openEditionModal()"
      (otherClicked)="call(contact.user.phone)"
      [icon]="'videocam-outline'"
    >
    </app-actions-buttons>
  </div>
</ion-content>
