<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mis Contactos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mis Contactos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="contacts.length > 0; else noContacts">
    <ion-item *ngFor="let contact of contacts">
      <ion-label>
        <h2>{{ contact.name }} {{ contact.lastname }}</h2>
        <p>{{ contact.phone }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #noContacts>
    <ion-text color="medium">
      <p class="ion-padding">No tienes contactos guardados.</p>
    </ion-text>
  </ng-template>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button [routerLink]="['/add-contact']">
    <ion-icon name="person-add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
