<app-header [title]="'Sign Up'"></app-header>

<ion-content [fullscreen]="true" class="register-page">
  <div class="register-container">
    <app-img-load
      [imageUrl]="previewImage"
      (select)="pickImage()"
      class="profile-pic"
    ></app-img-load>

    <form
      (ngSubmit)="onRegister()"
      [formGroup]="registerForm"
      class="register-form"
    >
      <app-input
        [label]="'Email'"
        formControlName="email"
        [icon]="'mail-outline'"
        [placeholder]="'Enter your email'"
        [type]="'email'"
      ></app-input>

      <app-input
        [label]="'Name'"
        formControlName="name"
        [icon]="'person-outline'"
        [placeholder]="'Enter your name'"
      ></app-input>

      <app-input
        [label]="'Lastname'"
        formControlName="lastname"
        [icon]="'person-outline'"
        [placeholder]="'Enter your lastname'"
      ></app-input>

      <app-input
        [label]="'Phone'"
        formControlName="phone"
        [icon]="'call-outline'"
        [placeholder]="'Enter your phone'"
        [type]="'tel'"
      ></app-input>

      <app-input
        [label]="'Password'"
        formControlName="password"
        [icon]="'lock-closed-outline'"
        [placeholder]="'Enter your password'"
        [type]="'password'"
      ></app-input>

      <app-input
        [label]="'Confirm Password'"
        formControlName="confirmPassword"
        [icon]="'lock-closed-outline'"
        [placeholder]="'Confirm your password'"
        [type]="'password'"
      ></app-input>

      <ion-button
        expand="block"
        type="submit"
        [disabled]="registerForm.invalid"
        class="btn-submit"
      >
        registrarte
      </ion-button>
    </form>

    <a (click)="goToLogin()" class="btn-login-link">
      ya tienes cuenta? <strong>Iniciar sesion</strong>
    </a>
  </div>
</ion-content>
