<app-header [title]="'➕ New Contact'" [isLoggedIn]="true"></app-header>

<ion-content fullscreen class="page-content">
  <app-img-load></app-img-load>

  <form [formGroup]="form" class="form-container">
    <app-input
      formControlName="nickname"
      label="Nickname (optional)"
      icon="person-outline"
      placeholder="Enter the nickname"
    ></app-input>

    <app-input
      formControlName="phone"
      label="Phone"
      icon="call-outline"
      placeholder="Enter the phone number"
    ></app-input>

    <div class="actions">
      <ion-button expand="block" color="primary" (click)="save()"
        >Save</ion-button
      >
      <ion-button
        expand="block"
        color="medium"
        fill="outline"
        (click)="cancelar()"
        >Cancel</ion-button
      >
    </div>
  </form>
</ion-content>
